@media screen and (min-width : 992px){
    #home .menu-respansive{
        display: none;
    }
}
/*------tablet and small device form 992-----*/

@media screen and (max-width : 992px) { 
    /*======navgation setting start=======*/
  
    #home .navegation{
        display: none;
    }
   #home{
        overflow: hidden;
        width: 100%;
    }
    #home .respansive-bar {
        position: relative;
        width: 33px;
        height: 100%;
    }
    #home .respansive-bar #sidebar{
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 270px;
        background-image: linear-gradient(80deg, rgb(23, 105, 153) 0%,rgb(172, 121, 184)100%);
        z-index: 1;
        overflow: hidden;
        left: -250px;
        transition: all 0.4s ease;
        /* display: none; */
    }
    #home input[type="checkbox"]{
        display: none;
    }
    #home #mover:checked ~ .nav-mover{
        left: 280px;
    }
    #home #mover:checked ~ #sidebar{
        left: 0;
    }
    
    #home .respansive-bar .nav-mover{
        position: fixed;
        top: 30px;
        left: 10px;
        z-index: 999;
        height: 45px;
        width: 45px;
        color: #fff;
        background-image: linear-gradient(80deg, rgb(172, 121, 184) 0%, rgb(60, 108, 136)100%);
        text-align: center;
        line-height: 45px;
        font-size: 20px;
        border-radius: 9px;
        cursor: pointer;
        transition: all 0.4s ease;
    }
    #home .respansive-bar .nav-mover:hover{
        animation: color-bottom 1s infinite;
    }

    #home .respansive-bar .logo-respansive{
        margin: 25px auto;
    }
    #home .respansive-bar .logo-respansive h1{
        font-size: 30px;
        letter-spacing: 2px;
        color: white;
    }
    #home #sidebar .logo-respansive span{
        color: rgb(255, 0, 149);
        font-size: 40px;
        font-weight: 800;
    }
    #home #sidebar .menu-respansive{
        position: relative;
        height: 100%;
        width: 100%;
        list-style: none;
    }
    #home #sidebar .menu-respansive li{
        list-style-type: none;
        line-height: 60px;
        border-top: 1px solid rgba(255,255,255,0.4);
        border-bottom: 1px solid rgba(53, 51, 51, 0.4);
    }
    #home #sidebar .menu-respansive a{
       text-decoration: none;
       color: white;
       font-size: 23px;
       padding-left: 60px;
       letter-spacing: 2px;
       font-weight: 600;
       height: 100%;
       width: 100%;
       display: block;
       transition: all 0.3s ease;
    }
    #home #sidebar .menu-respansive a:hover{
        box-shadow: 10px 10px 20px #222;
    }
    #home #sidebar .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        
    }
    #home #sidebar .text-nav{
        text-align: center;
        margin-bottom: 80px;
        color: white;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 2px;
    }
    #home .respansive-bar #sidebar .icon a{
        color:white;
        margin: 0 15px;
        font-size: 30px;
        transition: all 0.3s ease;
        background-color: transparent;
    }
    #home #sidebar .icon a:hover{
      animation: color-bottom 1s infinite;
    }
  
    
/*======navgation setting end=======*/
    #home .continer{
        left: 23%;
        top: 24%;
        width: 50%
    }

/*======navgation setting end=======*/
    
    #services{
        width: 100%;
    }
    #services .service-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }
    #services .service-bottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #services .service-bottom .service-item{
        display: flex;
        width: 40%;
        flex-direction: row;
        flex-wrap: wrap;
    }
/*======service setting end=======*/

/*======project setting start=======*/
    #project{
        width: 100%;
    }
    #project .project-continer {
        max-width: 95%;
        margin: 0 auto;
        padding: 50px 0;
    }
    #project .project-continer .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #project .project-continer .cards .box{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height:600px;
        width: 40%;
        margin: 20px auto;
        overflow: hidden;
        border-radius: 10px;
    }
    #project .project-continer .cards .box .image-project{
        height: 100%;
        width: 100%;
        cursor:pointer;
    }
    #project .project-continer .cards .box .image-project img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #project .project-continer .cards .box .text{
        padding:14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        background-image:  linear-gradient(60deg, rgb(161, 131, 170) 0%,rgb(8, 41, 59)100%);
    }
    #project .project-continer .cards .box .text p{
        font-size: 15px;
        text-align: center;
    }
    /*======project setting end=======*/

    /*======about setting start=======*/
        #about{
            height: 150vh;
            width: 100%;
        }
        #about .about{
            width: 80%;
            margin: -10% auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #about .about-bottom{
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        
        #about .col-left{
            width: 50%;
            margin: 0 auto;
            height: 320px;
        }
        #about .col-left img{
            object-fit: cover;
            width: 100%;
            height: 300px;
        }

        #about .col-right{
            width: 100%;
            height: 100%;
            margin-top: 30px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        #about .col-right p{
            font-size: 15px;
            text-align: center;
        }
        /*======about setting end=======*/
    /*======content setting start=======*/
    #contact{
        width: 100%;
      
        height: 100%;
        margin-bottom: 15%;
    }
    #contact .contact-continer{
        width: 100%;
        text-align: center;
    }
    #contact .contact-continer .all-box{
        flex-wrap: wrap;
        margin: auto;
    }
    #contact .contact-continer .contact-box{
        padding: 0 40px;
        margin: 10px auto;
        width: 45%;
        height: 190px;
        background-image:  linear-gradient(60deg, rgb(199, 176, 206) 0%,rgb(21, 72, 100)100%);;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 12px;
        transition: all 0.3s ease;
        cursor: pointer;
      }
    #contact .contact-continer .contact-box h3{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

      #contact .contact-continer .contact-box:hover{
        height: 210px;
        margin: 0 auto;
    }
        /*======content setting end=======*/

        #footer .social-item,.text-h2{
            display: none;
        }
        #footer h1{
            margin-bottom: -50px;
        }

        #bottom .bottom-home{
            color: rgb(255, 255, 255);
            margin-left: 92%;
            font-size: 40px;
        }

    /*===animatiom setting====*/
    
    
    @keyframes color-bottom{
        25%{
            color: rgb(170, 70, 70);
        }
        50%{
            color: rgb(137, 255, 255);
        }
        75%{
            color: rgb(105, 38, 89);
        }
        100%{
            color: rgb(255, 255, 255);
        }
    }
   
}
/*------ finish tablet and small device form 992 -----*/
@media screen and (max-width:900px){
    #contact .contact-continer .all-box{
        flex-direction: column;
    }
    #contact .contact-continer .contact-box{
        display: flex;
        width: 100%;
    }
   
}
@media screen  and (max-width : 576px){

    #services .service-top {
        width: 90%;
    }
    #services .service-bottom{
        flex-direction: column;
    }
     #home .continer {
        left: 10%;
        top: 25%;
        width: 75%;
    }
    #home .link{
        position: absolute;
        width: 100%;
        top: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #home .continer{
        position: absolute;
        top: 40%;
        left: 10%;
        text-align: center;
        width: 520px;
    }
    #home .continer h2{
        font-size: 45px;
        color: transparent;
        position: relative;
        letter-spacing: 2px;
        margin-top: 10px;
        margin-right: 50px;
        display: inline-block;
        animation: color-type 2s ease forwards;
        animation-delay: 2s;
    }
    #home .continer h2 span{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: transparent;
        animation: typing 3s ease forwards;
        animation-delay: 1s;
    }
    
    /*=================animation setting===============*/
    
    #home .continer h2:nth-child(1){
        animation-delay: 1.8s;
    }
    #home .continer h2:nth-child(2){
        display: none;
    }
    #home .continer h2:nth-child(3){
       display: none;
    }
    #home .continer h2:nth-child(4){
        animation-delay: 7.5s;
        margin-left: -5px;
    }
    
    #home .continer h2:nth-child(1) span{
        animation-delay: 0.5s;
    }
    #home .continer h2:nth-child(2) span{
        display: none;
    }
    #home .continer h2:nth-child(3) span{
         display: none;
    }
    #home .continer h2:nth-child(4) span{
        animation-delay: 6s;
    }
    #services .services .service-item{
        width: 80%;
        margin-bottom: 4rem;
      
   }
   #contact .contact h{
    margin-top: 20rem
   }
   #project .project-continer .cards .box {
    flex-direction: column;
    width: 90%;
}
   #project .project-continer .cards {
    flex-direction: column;
}
    #about .col-left {
        width: 70%;
        margin: 50px auto 0;
        height: 320px;
    }
    #footer .social-item, .text-h2 {
    display: block;
    margin-top: 75px;

}
#footer .social-icon {
    margin-top: 0rem;
}
}
@media screen  and (min-width : 576px){
#home .continer .text-1-1{
    display: none;
}
#home .link{
    display: none;
}
}