@media screen and (min-width : 992px){
    #home .menu-respansive{
        display: none;
    }
}
/* Start  Mobile */
@media screen and (max-width : 576px){
    #home .continer{
        position: absolute;
        top: 40%;
        left: 0;
        text-align: center;
        width: 520px;
    }
    #services .service-top{
        width: 85%;
        margin: auto;
    }
    #services .service-top p{
        text-align: justify;
       
    }
    #services .service-bottom{
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       
    }
    #services .services .service-item{
        width: 85%;
        margin-top: 5rem;
   }
   #project .project-continer{
    width: 0;
}
   #project .project-continer .cards .box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 150%;
    flex-direction: column;
    margin-top: 100px;
    border-radius: 10px;
    }
    #project .project-continer .cards .box:nth-child(even){
        flex-direction: column;
    }
    #project .project-continer .cards .revers{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 150%;
        flex-direction: column;
        margin-top: 100px;
        border-radius: 10px;
    }
  
    #about .about{
        width: 100%;
        margin: 0 auto;
        padding: 50px 0;
    }
  
    #about .about-bottom{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    #about .col-left{
        width: 60%;
        height: 360px;
        margin-bottom: 4rem;
       
    }
    #contact .contact-continer .all-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    #contact .contact-continer .contact-box{
      margin: 3rem 0;
    }
}
/* End  Mobile */

/*------tablet and small device form 992-----*/

@media screen and (max-width : 992px) { 
    #home .navegation{
        display: none;
    }
    /* #home{
        width: 100%;
    }
    #home .respansive-bar{
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 30%;
        background-image: linear-gradient(80deg, rgb(23, 105, 153) 0%,rgb(172, 121, 184)100%);
    }
    #home .respansive-bar .logo-respansive{
        margin: 25px auto;
    }
    #home .respansive-bar .logo-respansive h1{
        font-size: 30px;
        letter-spacing: 2px;
        color: white;
    }
    #home .respansive-bar .logo-respansive span{
        color: rgb(255, 0, 149);
        font-size: 40px;
        font-weight: 800;
    }
    #home .menu-respansive{
        position: relative;
        height: 100%;
        width: 100%;
        list-style: none;
    }
    #home .menu-respansive li{
        list-style-type: none;
        
        line-height: 60px;
        border-top: 1px solid rgba(255,255,255,0.4);
        border-bottom: 1px solid rgba(53, 51, 51, 0.4);
    }
    #home .menu-respansive a{
       text-decoration: none;
       color: white;
       font-size: 23px;
       padding-left: 60px;
       letter-spacing: 2px;
       font-weight: 600;
       height: 100%;
       width: 100%;
       display: block;
       transition: all 0.3s ease;
    }
    #home .menu-respansive a:hover{
        box-shadow: 10px 10px 20px #222;
    }
    #home */

}